
.menu-container {
    padding: 40px;
    font-family: 'Georgia', serif;
    background-color:  #0c0b09;
    color: #fff;
    max-width: 1200px;
    margin: 0 auto;
}


.menu-container h1 {
    font-size: 1.8rem;
    color: #fff;
    font-weight: bold;
    text-align: left;
    margin-bottom: 5px;
}

.menu-container > p {
    font-size: 1.1rem;
  color: #cda45e; 
    margin-bottom: 40px;
    text-align: left;
}


.menu-section {
    margin-top: 50px;
}

.menu-section h2 {
    font-size: 1.8rem;
    color: #cda45e;
    margin-bottom: 20px;
    text-align: left;
}


.menu-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-bottom: 24px;
    background: linear-gradient(135deg, #1b1b1b, #0f0f0f);
    border-radius: 16px;
    box-shadow: 0 0 10px rgba(205, 164, 94, 0.05);
    transition: transform 0.3s ease;
  }
  
  .menu-item:hover {
    transform: translateY(-2px);
  }
  

.menu-item div {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.menu-item h3 {
    font-size: 1.2rem;
    font-family: 'Georgia', serif;
    color: #fff;
    font-weight: normal;
    margin: 0;
}

.menu-item p {
    font-size: 0.9rem;
    color: #fff;
    margin: 2px 0;
}

.menu-item .price {
    font-size: 1rem;
    color:#cebb99;
    font-weight: bold;
    margin-top: 10px;
}

.menu-item-img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.3s ease, border 0.2s ease;
    box-shadow: 0 0 10px rgba(197, 155, 81, 0.2); /* más glow dorado */
  }
  
  
  .image-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.75);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image-overlay img {
    width: 400px;
    height: 400px;
    border-radius: 0;
    object-fit: cover;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
    transition: all 0.3s ease;
  }
  
/* Responsive Design */
@media (max-width: 768px) {
    .menu-item {
        padding-bottom: 20px;
        padding-top: 20px;
        flex-direction: column;
        align-items: flex-start;
    }
    .menu-item .price {
        margin-top: 10px;
    }

    .menu-item-img {
        margin-top: 10px;
        margin-left: 0;
    }
        
}